@import '../../../style/variables.less';

.character {
  color: @dark;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  border-bottom: 1px solid @grey-85;

  min-height: 100px;

  &:first-of-type {
    border-top: 1px solid @grey-85;
  }

  &-section {
    padding: @p-sm;

    &-initiative {
      font-size: @font-size-xl;
      min-width: 115px;
    }

    &-subtitle {
      font-size: @font-size-sm;
      color: @grey-85;
      text-align: center;
    }

    &-name {
      font-size: @font-size-md;
      margin-bottom: @m-sm;
    }

    &-damage {
      display: flex;
      align-items: center;

      span {
        border: 1px solid @grey-85;
        padding: @p-md;
        border-radius: 2px;
      }

      input[type='range'] {
        margin-left: 5px;
        margin-right: 5px;
      }
    }

    &-statuses {
      margin-top: @m-sm;
    }

    &-status {
      user-select: none;
      cursor: pointer;
      margin-bottom: @m-sm;
      display: inline-block;
      margin-right: @m-sm;
      color: @grey-85;
      text-transform: uppercase;
    }
  }
}
