.app {
  height: 100%;
}

.modal-overlay {
  position: fixed;
  opacity: 0;
  z-index: 10;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.65);
  overflow: hidden;
  line-height: 14px;
  transition: opacity 300ms ease;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-overlay.modal-overlay-active {
  opacity: 1;
}

.modal-overlay .modal-content-container {
  transform: scale(1);
  max-width: 500px;
  flex: 1;
  max-height: 95%;
  margin: 2.5% 15px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  border-radius: 2px;
  transition: transform 300ms ease;
}

.modal-content-container.modal-content-transitioning {
  transform: scale(1.1);
}

.modal-content-container.modal-content-active {
  transform: scale(1);
  opacity: 1;
}

.modal-header {
  padding: 10px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.modal-header h3 {
  margin: 0;
}

.modal-footer {
  border-top: 1px solid #333;
  text-align: center;
}

.modal-footer button {
  height: 30px;
  appearance: none;
  border: 0;
  display: inline-block;
  outline: none;
  background-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.modal-footer button:first-child:nth-last-child(1) {
  width: 100%;
}

.modal-footer button:first-child:nth-last-child(2),
.modal-footer button:first-child:nth-last-child(2) ~ button {
  width: 50%;
}

.modal-footer button:first-child:nth-last-child(3),
.modal-footer button:first-child:nth-last-child(3) ~ button {
    width: 33.333333333333%;
}

.modal-footer button:first-child:nth-last-child(4),
.modal-footer button:first-child:nth-last-child(4) ~ button {
    width: 25%;
}

.modal-footer p {
  font-size: 13px;
}

.modal-footer button:disabled {
  color: #777;
}
