@import '../style/variables.less';

.app {
  height: 100%;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  &-content {
    flex-grow: 1;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  &-subtext {
    margin-top: @m-xl;
    padding: @p-md;
    font-size: @font-size-lg;
    text-align: center;
    color: @grey-55;

    &-btn {
      cursor: pointer;
      background-color: transparent;
      border: 3px solid;
      margin: @m-xl auto;
      font-size: @font-size-lg;
      border-radius: 10px;
      padding: @p-sm;
      display: block;
      min-width: 200px;
      user-select: none;

      &-del {
        color: @danger;
        border-color: @danger;
      }

      &-ok {
        color: @success;
        border-color: @success;
      }
    }
  }
}
